@import "tailwindcss";

/* Fully hide scrollbar, but keep scrolling */
.sidebar-scroll {
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* IE 10+ */
  }
  .sidebar-scroll::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Edge */
  }
  .carousel .control-arrow {
    background: rgba(0, 0, 0, 0.4);
    border-radius: 50%;
  }
  
  .carousel .control-arrow:hover {
    background: rgba(0, 0, 0, 0.6);
  }
  
  .carousel .control-next.control-arrow:before,
  .carousel .control-prev.control-arrow:before {
    color: white;
    font-size: 24px;
  }
  